<a href="https://colab.research.google.com/github/vanshikalaller/Python_Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. L is a list defined as L= [11,12,13,14]**

WAP to add 50 and 60 to the list

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

WAP to remove 11 and 13 from the list

In [ ]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

WAP to sort L in ascending order

In [ ]:
L.sort()
print(L)

[12, 14, 50, 60]

WAP to sort L in descending order

In [ ]:
L.sort(reverse= True)
print(L)

[60, 50, 14, 12]

WAP to seach for 13 in L

In [ ]:
if 13 in L:
 print("present")
else :
 print("not present")

not present

WAP to count the number of elements present in L

In [ ]:
length= len(L)
print(length)

4

WAP to sum all the elements in L

In [ ]:
sum=0
for i in L:
  sum+= i
print(sum)

136

WAP to sum all odd numbers in L

In [ ]:
sum=0
for i in L:
  if i%2!=0:
    sum+= i
print (sum)

0

WAP to sum all even numbers in L

In [ ]:
sum=0
for i in L:
  if i%2==0:
    sum+= i
print(sum)

136

WAP to sum all Prime numbers in L

In [ ]:
def isPrime(n):
  f=False
  for i in range(2,n//2+1):
    if(n%i==0):
      f=True
      break
  if(f==True):
    return False
  else:
    return True

sum=0
for i in L:
  if(isPrime(i)):
    sum+= i
print(sum)

0

WAP to clear all elements in L

In [ ]:
i= len(L)-1
while(i>=0):
  del L[i]
  i=i-1
print(L)

[]

WAP to delete L

In [ ]:
del L
print(L)

NameError: name 'L' is not defined

**Q2 D is a dictionary defined as D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}**

WAP to add new entry to D with key =8 and value=8.8

In [ ]:
D={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]= 8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

WAP to remove key=2

In [ ]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

WAP to check whether 6 key is present in D

In [ ]:
f= 6 in D
if (f):
  print("Present")
else:
  print("not present")

not present

WAP to count the number of elements in D

In [ ]:
length= len(D)
print(length)

5

WAP to add all the values in D

In [ ]:
sum=0;
l= list(D.values())
for i in range(0,len(l)):
  sum+= l[i]
print(sum)

37.4

WAP to update value of 3 to 7.1

In [ ]:
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

WAP to clear the dictionary

In [ ]:
del D
print(D)

NameError: name 'D' is not defined

Q3. S1 is a set defined as S1= [10,20,30,40,50,60]
    S2 is a set defined as S2= [40,50,60,70,80,90]

WAP to add 55 and 66 in set s1

In [ ]:
S1= set([10,20,30,40,50,60])
S2= set([40,50,60,70,80,90])
S1.add(55)
S1.add(66)
print(S1)

{66, 40, 10, 50, 20, 55, 60, 30}

WAP to remove 10 and 30 from S1

In [ ]:
S1.remove(10)
S1.remove(30)
print(S1)

{66, 40, 50, 20, 55, 60}

WAP to check whether 40 is present in S1

In [ ]:
if 40 in S1:
  print("present")
else:
  print("not present")

present

WAP to find Union  between S1 and S2

In [ ]:
S= S1.union(S2)
print(S)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

WAP to find Intersection between S1 and S2

In [ ]:
print(S1.intersection(S2))

{40, 50, 60}

WAP to find S1-S2

In [ ]:
print(S1-S2)

{66, 20, 55}

Write the following program

WAP to print 100 random strings whose length between 6 and 8

In [ ]:
import random as r
import string as s

temp= r.sample(s.ascii_letters,r.randint(6,8)) # list
print("".join(temp))

DCwAtB

WAP to print all Prime numbers between 600 and 800

In [ ]:
def isPrime(n):
  f=False
  for i in range(2,n//2+1):
    if(n%i==0):
      f=True
      break
  return f==False
for i in range(600,800):
  if(isPrime(i)):
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [ ]:
for i in range(100,1001):
  if(i%7==0 and i%9==0):
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

WAP to create two lists of 10 random numbers between 10 and 30.

Find common numbers in two lists

In [ ]:
import random as r
L1= r.sample(range(10,31),10)
L2= r.sample(range(10,31),10)
print(L1)
print(L2)

[30, 21, 24, 14, 18, 23, 29, 17, 16, 20]
[16, 12, 23, 10, 29, 11, 18, 17, 19, 15]

Common numbers in two list

In [ ]:
S= set(L1).intersection(set(L2))
print(S)

{16, 17, 18, 23, 29}

Unique numbers in both lists

In [ ]:
S= set(L1)-set(L2)
print(S)
S= set(L2)-set(L1)
print(S)

{14, 20, 21, 24, 30}
{10, 11, 12, 15, 19}

Minimum in both lists

In [ ]:
print(min(L1))
print(min(L2))

14
10

Maximum in both lists

In [ ]:
print(max(L1))
print(max(L2))

30
29

Sum of both the List

In [ ]:
def add(L):
  sum=0;
  for i in range(0,len(L)):
    sum+= L[i]
  return sum

sum1= add(L1)
sum2= add(L2)
print(sum1)
print(sum2)

212
170

WAP to create a list of 100 random numbers from 100 and 900

In [ ]:
import random as r
L= r.sample(range(100,901),100)
print(L)

[500, 616, 439, 541, 571, 148, 823, 231, 180, 787, 785, 637, 321, 530, 820, 850, 606, 731, 647, 351, 295, 505, 217, 764, 628, 163, 479, 667, 542, 140, 501, 352, 188, 889, 460, 577, 339, 776, 492, 218, 395, 660, 816, 608, 682, 114, 276, 396, 636, 844, 610, 591, 856, 240, 138, 151, 625, 184, 313, 635, 283, 862, 162, 491, 552, 843, 437, 445, 877, 494, 674, 695, 585, 509, 256, 858, 701, 104, 793, 274, 700, 633, 177, 572, 406, 427, 175, 362, 422, 438, 224, 428, 325, 131, 443, 560, 435, 289, 598, 743]

Count and print all Odd numbers

In [ ]:
for i in range(0,len(L)):
  if(L[i]%2!=0):
    print(L[i])

439
541
571
823
231
787
785
637
321
731
647
351
295
505
217
163
479
667
501
889
577
339
395
591
151
625
313
635
283
491
843
437
445
877
695
585
509
701
793
633
177
427
175
325
131
443
435
289
743

Count and print all even numbers

In [ ]:
for i in range(0,len(L)):
  if(L[i]%2==0):
    print(L[i])

500
616
148
180
530
820
850
606
764
628
542
140
352
188
460
776
492
218
660
816
608
682
114
276
396
636
844
610
856
240
138
184
862
162
552
494
674
256
858
104
274
700
572
406
362
422
438
224
428
560
598

Count and print all Prime numbers

In [ ]:
def isPrime(n):
  f= False
  for i in range(2,n//2+1):
    if(n%i==0):
      f= True
      break
  return f==False

for i in range(0,len(L)):
  if(isPrime(L[i])):
    print(L[i])

439
541
571
823
787
647
163
479
577
151
313
283
491
877
509
701
131
443
743

Q7. D is a dictionary defined as D= {1:"One", 2:"Two", 3:"Three", 4:"Four",5:"Five"}
WAP to read all the keys and values from dictionary and write to the file in the given format
Key1,Value1
Key2,Value2
Key3,Value3

In [87]:
D= {1:"One", 2:"Two", 3:"Three", 4:"Four",5:"Five"}
fp= open('result.txt','w')
for key,value in D.items():
  fp.write(f"{key},{value}\n")
fp.close()

Q8. L is a list defined as L= {"One","Two", "Three", "Four", "Five"}. WAP to count the length of each element from the list and write to the file in the given below format.
One,2
Two,3
Four,4

In [92]:
L= ["One","Two", "Three", "Four", "Five"]
fp=open('result.txt','w')
for i in L:
  fp.write(f"{i},{len(i)}\n")
fp.close()

Write to the file 100 random strings whose length between 10 and 15

In [101]:
import random as r
import string as s

fp= open('result.txt','w')
i=100
while(i>0):
  fp.write("".join(r.sample(s.ascii_letters, r.randint(10,15))))
  fp.write("\n")
  i=i-1
fp.close()

Write to the file all prime numbers between 600 and 800

In [104]:
def isPrime(n):
  f=False
  for i in range(2,n//2+1):
    if(n%i==0):
      f=True
      break
  return f==False
L=[]
for i in range(600,801):
  if(isPrime(i)):
    L.append(i)
fp= open('result.txt','w')
for i in L:
  fp.write(f"{i}\n")
fp.close()

WAP to calculate the time taken by the program

In [105]:
import time
start_time= time.time()

def isPrime(n):
  f=False
  for i in range(2,n//2+1):
    if(n%i==0):
      f=True
      break
  return f==False
L=[]
for i in range(600,801):
  if(isPrime(i)):
    L.append(i)
fp= open('result.txt','w')
for i in L:
  fp.write(f"{i}\n")
fp.close()

end_time= time.time()

print(end_time-start_time)

0.0032393932342529297

WAP to sort the following number of elements in a list , calculate time taken and plot the graph

WAP to create a dictionary of student marks in five subjects and you have to find the student having maximum and mininum average marks

In [106]:
def avg(marks):
  sum=0
  for i in marks.values():
    sum+= i
  return sum/len(marks)

marks = {"Vanshika": {"Math": 100, "English": 90, "Hindi": 78, "Science": 88, "SST":86},
    "Arshiya": {"Math": 75, "English": 80, "Hindi": 70, "Science": 72, "SST": 78},
    "Aahan": {"Math": 95, "English": 85, "Hindi": 88, "Science": 92, "SST": 84},
    "Vihan": {"Math": 65, "English": 70, "Hindi": 60, "Science": 62, "SST": 76},}

maxAvg=0;
minAvg= float('inf')

maxName= ""
minName= ""

for key,value in marks.items():
  avgMarks= avg(value)
  if(avgMarks>maxAvg):
    maxAvg= avgMarks
    maxName= key
  if(avgMarks<minAvg):
    minAvg= avgMarks
    minName= key

print(f"Maximum average marks is {maxAvg} by {maxName}")
print(f"Minimum average marks is {minAvg} by {minName}")

Maximum average marks is 88.8 by Aahan
Minimum average marks is 66.6 by Vihan